创建csv文件

In [22]:
import os

os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n')  # 列名（房间数/巷道类型/价格）
    f.write('NA,Pave,127500\n')  # 第一行数据（NA表示缺失数据）
    f.write('2,Dirt,106000\n')
    f.write('4,NA,178000\n')
    f.write('NA,NA,140000\n')

加载数据集

In [23]:
import pandas as pd

data = pd.read_csv(data_file)
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0  Dirt  106000
2       4.0   NaN  178000
3       NaN   NaN  140000

处理类型值或离散值

In [24]:
inputs = data.iloc[:,0:2]  # 第0列和第1列（房间数和巷道类型）
outputs = data.iloc[:,2]  # 第2列（价格）
inputs = pd.get_dummies(inputs, dummy_na=True)  # 类别转换为数值
inputs

   NumRooms  Alley_Dirt  Alley_Pave  Alley_nan
0       NaN       False        True      False
1       2.0        True       False      False
2       4.0       False       False       True
3       NaN       False       False       True

处理缺失数据——插值

In [25]:
inputs = inputs.fillna(inputs.mean())  # 用均值填充缺失的房间数
inputs

   NumRooms  Alley_Dirt  Alley_Pave  Alley_nan
0       3.0       False        True      False
1       2.0        True       False      False
2       4.0       False       False       True
3       3.0       False       False       True

现在inputs和outputs中所有数据均为数值类型，可以转化为tensor张量

In [26]:
import torch

x, y = torch.tensor(inputs.values.astype(float)), torch.tensor(outputs.values.astype(float))
x, y

(tensor([[3., 0., 1., 0.],
         [2., 1., 0., 0.],
         [4., 0., 0., 1.],
         [3., 0., 0., 1.]], dtype=torch.float64),
 tensor([127500., 106000., 178000., 140000.], dtype=torch.float64))